<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 margins">
                <div class="text-center">
                    <mat-card>
                        <div class="text-center">
                            <img class="text-center"
                                src="../../../assets/242-2423250_exam-png-transparent-image-exam-png-png-download-removebg-preview.png"
                                alt="" height="140px" width="140px">
                        </div>
                        <h1 class="text-center font-oxygen">Login</h1>
                        <form>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Enter your username here" name="username">
                            </mat-form-field>
        
                            <!--Password Field-->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Enter your password here" name="password">
                            </mat-form-field>

                            <div class="container text-center">
                                <button typr="submit" class="btn"  mat-raised-button color="primary" >submit</button>
                                <button type="reset" mat-raised-button color="warn">Clear</button>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>