<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
        <mat-icon>edit_calender</mat-icon>
    </button>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/login">
        Login
    </button>
    <button mat-icon-button class="example-icon ml-2 mr-2" aria-label="Example icon-button with share icon" routerLink="/signup">
        Register
    </button>
</mat-toolbar>